*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, sans-serif;
  background-color: var(--bg);
  color: var(--text);
  line-height: 1.5;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 600;
}

p {
  margin: 0.5rem 0 0;
  color: rgba(197,200,198,.8);
}

a {
  color: inherit;
  text-decoration: none;
}
